In [1]:
import pandas as pd

In [21]:
from tabulate import tabulate

In [36]:
df = pd.read_excel('.All Candidates.xlsx').dropna()

In [37]:
df.set_index('Unnamed: 0', inplace = True)

In [38]:
df_subset = df[ df.index.isin(['Income', ' W-2 Wages', 'Business Income or Loss' , 'Rental, real estate, partnership from SCH E', 'Total Income', 'Gifts to Charity', 'Tax', 'On Total Tax'])]

In [39]:
df_subset = df_subset.T
df_subset['Tax'] = df_subset['Tax'].astype('int')
df_subset

Unnamed: 0,Income,Business Income or Loss,"Rental, real estate, partnership from SCH E",Total Income,Gifts to Charity,Tax,On Total Tax
Joe Biden,1242716.0,1596.0,3236764.0,4580459.0,-275796.0,1517831,0.358222
Kamala Harris,159648.0,320125.0,1548315.0,2043967.0,-27259.0,611964,0.383657
Elizabeth Warren,584840.0,323902.0,0.0,905742.0,-50128.0,230068,0.293749
Bernie Sanders,183501.0,382920.0,0.0,566421.0,-18950.0,133214,0.280716
Amy Klobuchar,301313.0,25908.0,0.0,338483.0,-6602.0,63968,0.209878
Tim Ryan,219163.0,0.0,843.0,221004.0,0.0,35799,0.159793
Jay Inslee,205900.0,0.0,12.0,202912.0,-8295.0,29905,0.173674
Kristen Gilldebrand,167753.0,50000.0,0.0,214753.0,0.0,31831,0.161861
Cory Booker,152715.0,0.0,0.0,152715.0,-24000.0,22781,0.191897
Pete Buttigeg,152805.0,65.0,0.0,152643.0,0.0,20135,0.156541
All Candidates,3370354.0,1104516.0,4785934.0,9379099.0,-411030.0,2697500,0.329613

In [40]:
df_subset.to_markdown()

print(tabulate(df_subset, tablefmt = "pipe", headers = "keys"))

|                     |           Income |   Business Income or Loss |   Rental, real estate, partnership from SCH E |     Total Income |   Gifts to Charity |              Tax |   On Total Tax |
|:--------------------|-----------------:|--------------------------:|----------------------------------------------:|-----------------:|-------------------:|-----------------:|---------------:|
| Joe Biden           |      1.24272e+06 |            1596           |                                   3.23676e+06 |      4.58046e+06 |            -275796 |      1.51783e+06 |       0.358222 |
| Kamala Harris       | 159648           |          320125           |                                   1.54832e+06 |      2.04397e+06 |             -27259 | 611964           |       0.383657 |
| Elizabeth Warren    | 584840           |          323902           |                                   0           | 905742           |             -50128 | 230068           |       0.293749 |
| Bernie Sanders      | 183501           |          382920           |                                   0           | 566421           |             -18950 | 133214           |       0.280716 |
| Amy Klobuchar       | 301313           |           25908           |                                   0           | 338483           |              -6602 |  63968           |       0.209878 |
| Tim Ryan            | 219163           |               0           |                                 843           | 221004           |                  0 |  35799           |       0.159793 |
| Jay Inslee          | 205900           |               0           |                                  12           | 202912           |              -8295 |  29905           |       0.173674 |
| Kristen Gilldebrand | 167753           |           50000           |                                   0           | 214753           |                  0 |  31831           |       0.161861 |
| Cory Booker         | 152715           |               0           |                                   0           | 152715           |             -24000 |  22781           |       0.191897 |
| Pete Buttigeg       | 152805           |              65           |                                   0           | 152643           |                  0 |  20135           |       0.156541 |
| All Candidates      |      3.37035e+06 |               1.10452e+06 |                                   4.78593e+06 |      9.3791e+06  |            -411030 |      2.6975e+06  |       0.329613 |

In [8]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9